
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css.css">
    <style>
        #map{
            height: 300px;
            width: 290px;
            margin-bottom: 40px;
            display: flex;
            overflow: auto;
        }
    </style>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}" ></div>
<link rel="stylesheet" type="text/css" media="all"
      href="/menu.css" th:href="@{/menu.css}" />

<link rel="stylesheet" type="text/css" media="all"
      href="/product_info.css" th:href="@{/product_info.css}" />

<!--<div class="container">-->
<!--    <div class="main">-->



<!--        <div class="product">-->
<!--            <img class="product__img" th:src="@{/api/images/{id}(id=${productDto.getPreviewImageId()})}" alt="">-->
<!--            <div class="product__data"><p th:text="${productDto.getDateOfCreated()}"></p></div>-->
<!--            <div class="product__description"><p th:text="${productDto.getName()}"></p></div>-->
<!--            <div class="product__price"><p th:text="${productDto.getPrice()}"></p></div>-->
<!--            <div class="product__describe"><br> <p th:text="${productDto.getDescription()}"></p></div>-->
<!--            <div class="product__id"><p th:text="${productDto.getId()}"></p></div>-->
<!--            <div class="product__chat">-->

<!--            </div>-->
<!--            <div class="product__item">-->
<!--                <div class="product__chat">-->
<!--                    <div class="product__chat__item">-->
<!--                        <div class="product__chat__contacts">Contact with me</div>-->
<!--                        <div class="product__chat__contact">-->
<!--                            <div class="product__chat__contact__items">-->
<!--                                <div class="product__chat__contact__item__img"><img src="" alt=""></div>-->
<!--                                <div class="product__chat__contact__item__3">-->
<!--                                    <div class="product__chat__contact__name" ><p th:text="${productDto.getOwnerUsername()}"></p></div>-->
<!--                                    <div class="product__chat__contact__date">On January 2020 year</div>-->
<!--                                    <div class="product__chat__contact__online">Online</div>-->
<!--                                    <div class="product__chat__contact__number">057 869 696</div>-->
<!--                                </div></div>-->
<!--                            <form th:method="post" class="product__chat__item__form"  th:action="@{/api/chats/{id}(id=${productDto.getUserId()})}" th:object="${messageDto}">-->
<!--                                <input type="hidden" id="productId" name="productId" th:value="${productDto.getId()}"/>-->
<!--                                <input type="text" class="product__chat__contact__item__input">-->
<!--                                <button class="product__chat__contact__item__button" type="submit">Send message</button>-->

<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->





<div class="container">
    <div class="main">
        <div class="product">
            <div class="product__item">
                <img class="product__img" th:src="@{/api/images/{id}(id=${productDto.getPreviewImageId()})}" alt="">
                <button class="product__item__slider__button__prev"></button>
                <button class="product__item__slider__button__next"></button>
                </div>
                <div class="product__item">
                    <div class="product__data"><p th:text="${productDto.getDateOfCreated()}"></p></div>
                    <div class="product__description"><p th:text="${productDto.getName()}"></p></div>
                    <div class="product__price"><p th:text="${productDto.getPrice()}"></p></div>
                    <div class="product__describe"><br> <p th:text="${productDto.getDescription()}"></p></div>
                    <div class="product__id"><p th:text="${productDto.getId()}"></p></div>
                </div>
                <div class="product__item">
                    <div class="product__chat">
                        <div class="product__chat__item">
                            <div class="product__chat__contacts">Contact with me</div>
                            <div class="product__chat__contact">
                                <div class="product__chat__contact__items">
                                    <div class="product__chat__contact__item__img"><img src="" alt=""></div>
                                    <div class="product__chat__contact__item__3">
                                        <div class="product__chat__contact__name"><p th:text="${ownerDto.getUsername()}"></p></div>
                                        <div class="product__chat__contact__date"><p th:text="${ownerDto.getUsername()}"></p></div>
<!--                                        <div class="product__chat__contact__online"><p th:text="${ownerDto.getUsername()}"></p></div>-->
                                        <div class="product__chat__contact__number"><p th:text="${ownerDto.getPhoneNumber()}"></p></div>
                                    </div></div>
                                <form th:method="post" class="product__chat__item__form"  th:action="@{/api/chats/{id}(id=${productDto.getUserId()})}" th:object="${messageDto}">
                                    <input type="hidden" id="productId" name="productId" th:value="${productDto.getId()}"/>
                                    <textarea type="text" class="product__chat__contact__item__input"></textarea>
                                    <button class="product__chat__contact__item__button" type="submit">Send message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="user">
            <div class="user__person">
                <div class="user__person__describe">Private person</div>
                <div class="user__person__photo"></div>
                <div class="user__person__description">
                    <div class="user__person__description__name"><p th:text="${ownerDto.getUsername()}"></div>
                    <div class="user__person__description__date">On January 2020 year</div>
                    <div class="user__person__description__online">Online</div>
                    <div class="user__person__description__number"><p th:text="${ownerDto.getPhoneNumber()}"></div>
                </div>
            </div>
            <div id="map"></div>
            <img  class="user__ad" src="https://tpc.googlesyndication.com/simgad/15814751936861878919?sqp=4sqPyQQrQikqJwhfEAEdAAC0QiABKAEwCTgDQPCTCUgAUAFYAWBfcAJ4AcUBLbKdPg&rs=AOga4qnD7MIXbCfJweOoiG4QOyRwsGE5lQ"/>

        </div>
        </div>

    </div>
</div>


...











<!--<p th:text="${productDto.getType()}"></p>-->
<!--<p th:text="${productDto.getLocate()}"></p>-->

<!--<script >-->
<!--    const menuAcc=document.querySelector(".menu__nav__account");-->
<!--    const modalW=document.querySelector(".modal__window");-->
<!--    menuAcc.addEventListener("click",(e)=>{-->
<!--        e.preventDefault()-->
<!--        modalW.classList.toggle("hidden")-->


<!--    })-->
<!--</script>-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAud6bMifxLaURrEmTdHcizX2IaRDc0EQE&callback=initMap" async defer></script>

<script>
    function initMap(){
        let pos={lat:52.1347,lng:21.0042}
        let opt={
            center:pos,
            zoom: 15
        }
        let map= new google.maps.Map(document.getElementById("map"),opt)
        let marker=new google.maps.Marker({
            position: pos,
            map:

            map
        })
    }
    initMap();
</script>

</body>
</html>
