<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <title>Sellb</title>
    <link rel="stylesheet" href="new.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
<div class="container">
    <div class="page">
        <div class="page__ofer">Offers</div>
        <div class="main">
            <div class="main__card">
                <img src="img10.jpg" alt="">
            <div class="main__card__description">Lorem ipsum</div>
                <div class="main__card__location">Warszawa - today 10:20</div>
                <div class="main__card__price">
                    3000 $
                </div>
            </div>
            <div class="main__card">
                <img src="img10.jpg" alt="">
                <div class="main__card__description">lorem</div>
                <div class="main__card__location">Warszawa</div>
                <div class="main__card__price">
                    3000
                </div>
            </div>
            <div class="main__card">
                <img src="img10.jpg" alt="">
                <div class="main__card__description">lorem</div>
                <div class="main__card__location">Warszawa</div>
                <div class="main__card__price">
                    3000
                </div>
            </div>
            <div class="main__card">
                <img src="img10.jpg" alt="">
                <div class="main__card__description">lorem</div>
                <div class="main__card__location">Warszawa</div>
                <div class="main__card__price">
                    3000
                </div>
            </div>
            <div class="main__card">
                <img src="img10.jpg" alt="">
                <div class="main__card__description">lorem</div>
                <div class="main__card__location">Warszawa</div>
                <div class="main__card__price">
                    3000
                </div>
            </div>
            <div class="main__card">
                <img src="img10.jpg" alt="">
                <div class="main__card__description">lorem</div>
                <div class="main__card__location">Warszawa</div>
                <div class="main__card__price">
                    3000
                </div>
            </div>
            <div class="main__card">
                <img src="img10.jpg" alt="">
                <div class="main__card__description">lorem</div>
                <div class="main__card__location">Warszawa</div>
                <div class="main__card__price">
                    3000
                </div>
            </div>
            <div class="main__card">
                <img src="img10.jpg" alt="">
                <div class="main__card__description">lorem</div>
                <div class="main__card__location">Warszawa</div>
                <div class="main__card__price">
                    3000
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>