<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}" ></div>
<link rel="stylesheet" type="text/css" media="all"
      href="/menu.css" th:href="@{/menu.css}" />

<link rel="stylesheet" type="text/css" media="all"
      href="/product_info.css" th:href="@{/product_info.css}" />

<div class="container">
    <div class="main">



        <div class="product">
            <img class="product__img" th:src="@{/api/images/{id}(id=${product.getImageIds().get(0)})}" alt="">
                <div class="product__data">Today - 12:34</div>
                <div class="product__description">Iphone 14</div>
                <div class="product__price"><p th:text="${productDto.getPrice()}"></p></div>
                <div class="product__describe"><br> <p th:text="${productDto.getDescription()}"></p></div>
                <div class="product__id"><p th:text="${productDto.getId()}"></p></div>
                <div class="product__chat">

                </div>
        </div>
        <div class="user">
            <a th:href="@{/api/users/{id}(id=${productDto.getUserId()},productId=${productDto.getId})}"><p th:text="${productDto.getOwnerUsername()}"></p></a >
            <form th:method="post"  th:action="@{/api/chats/{id}(id=${productDto.getUserId()})}" th:object="${messageDto}">
                <textarea th:field="*{text}" rows="5" cols="5"></textarea>
                <input type="hidden" id="productId" name="productId" th:value="${productDto.getId()}"/>
                <input type="submit" th:value="send">
            </form>
        </div>
    </div>
</div>


<p th:text="${productDto.getName()}"></p>
<p th:text="${productDto.getType()}"></p>
<p th:text="${productDto.getLocate()}"></p>

<script >
    const menuAcc=document.querySelector(".menu__nav__account");
    const modalW=document.querySelector(".modal__window");
    menuAcc.addEventListener("click",(e)=>{
        e.preventDefault()
        modalW.classList.toggle("hidden")


    })
</script>
</body>
</html>
