<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/icon.png}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" media="all"
          href="/menu.css" th:href="@{/menu.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/all_products_page.css" th:href="@{/all_products_page.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <title>home</title>


</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>


<p th:text="${productDtoList.get(0).getId()}"></p>
<span id="products" th:text="${productDtoList}"></span>
<div class="container">
    <div class="page">
        <div class="page__ofer">Offers</div>
        <div class="main">
            </div>
        </div>
    </div>
</div>
</div>







<script type="text/javascript" th:inline="javascript">
        var list = [[${productDtoList}]];

    function showCard(productDtoList){
        const cards=document.querySelector(".main");
        productDtoList.forEach(el=>{
            const cardEl=document.createElement("div");
            cardEl.innerHTML=`<div class="main__card"
             <a href="/api/products/${el.id}"><img src="/api/images/${el.previewImageId}"></a>
                <div class="main__card__description">${el.description}</div>
                <div class="main__card__location">${el.locate} - ${el.dateOfCreated}</div>
                <div class="main__card__price">${el.price}$</div>
                </div>`
            cards.appendChild(cardEl);
        })
    }

showCard(list)

</script>

<script >
    const menuAcc=document.querySelector(".menu__nav__account");
    const modalW=document.querySelector(".modal__window");
    menuAcc.addEventListener("click",(e)=>{
        e.preventDefault()
        modalW.classList.toggle("hidden")


    })
</script>

</body>
</html>
